.offer_container {
    background-color: gray;
    border: 5px solid black;
    width: 33%;
    padding: 5px;
}
.offer_detail {
    color: greenyellow;
    border: 2px brown;
    padding: 5px;
}
.offer_task {
    font-size: 25px;
    color: black;
    font-weight:700
}
.accept {
    border: black;
    background-color: black;
    padding: 5px;
}